
body {
  background-color: #f0f8ff;
  font-family: 'Arial', sans-serif;
}

.app {
  padding: 20px;
}

.navbar {
  background-color: #007bff; 
  border-radius: 10px;
  padding: 10px;
}

.navbar-brand, .nav-link {
  color: #fff !important; 
}

.nav-link:hover {
  text-decoration: underline;
}

.container {
  margin-top: 20px;
}

.card {
  border: none;
  border-radius: 15px;
  transition: transform 0.3s; 
}

.card:hover {
  transform: scale(1.05); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-img-top {
  border-radius: 15px 15px 0 0;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333; 
}

.card-text {
  font-size: 1.1rem;
  color: #666; 
}

.btn-primary {
  background-color: #28a745; 
  border-color: #28a745;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-info {
  background-color: #17a2b8; 
  border-color: #17a2b8;
}

.btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
}

h2, h3 {
  color: #007bff;
}

.input-group {
  margin-bottom: 20px;
}

footer {
  margin-top: 30px;
  text-align: center;
  font-size: 0.9rem;
  color: #555;
}
.ig{
  width: 250 px;
  height: 300px;
}
.cart-page {
  background-color: #f8f9fa; 
}

.cart-item {
  background-color: #ffffff;
  transition: transform 0.2s;
}

.cart-item:hover {
  transform: scale(1.02);
}
